<div class="content">
    <main>
        <div class="container">
            <div class="row">
                <div class="Absolute-Center is-Responsive">
                    <div class="form-group col-12" id="map-container">
                        <a type="button" class="col-12 btn btn-dark" href="/query">
                        Back</a>
                        <dl>
                            <dt id="ip">IP</dt>
                            <dd id="ip_val">{{query}}</dd>
                            <dt id="country">country</dt>
                            <dd>{{country}}</dd>
                            <dt id="regionName">regionName</dt>
                            <dd>{{regionName}}</dd>
                            <dt id="city">city</dt>
                            <dd>{{city}}</dd>
                            <dt id="lat">latitude</dt>
                            <dd id="lat_val">{{lat}}</dd>
                            <dt id="lon">longitude </dt>
                            <dd id="lon_val">{{lon}}</dd>
                        </dl>
                    </div>
                    <div id="googleMap" style="width:500px;height:380px;"></div>
                </div>
            </div>
    </main>
</div>